@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using System.Security.Claims
@using Microsoft.AspNetCore.Html
@model TaxFiling.Web.Models.SelfOnlineLiabilities

<link href="~/assets/css/tree-container-css.css?v=3" rel="stylesheet">

<main class="main-content">

    <div class=" mt-4">
        <div class="card card-body">
            <form method="post">
                <div class=" mt-4 ">
                    <div class="custom-tabs">
                        <ul class="nav nav-tabs col-md-12" id="myLiabilitiesTab" role="tablist">
                            <li class="nav-item col-md-2" role="presentation">
                                <button class="nav-link all_liabilities active" id="allliabilities-tab" data-bs-toggle="tab" data-bs-target="#allliabilities" type="button" role="tab" aria-controls="allliabilities" aria-selected="true" data-target="bank-section">All Liabilities</button>
                            </li>
                            <li class="nav-item col-md-2" role="presentation">
                                <button class="nav-link other_assets" id="otherassets-tab" data-bs-toggle="tab" data-bs-target="#otherassets" type="button" role="tab" aria-controls="otherassets" aria-selected="false" tabindex="-1">Other Assets</button>
                            </li>
                            <li class="nav-item col-md-2" role="presentation">
                                <button class="nav-link disposal_asets" id="disposalasets-tab" data-bs-toggle="tab" data-bs-target="#disposalasets" type="button" role="tab" aria-controls="disposalasets" aria-selected="false" tabindex="-1">Disposal Asets</button>
                            </li>
                           
                        </ul>
                        <div class="tab-content" id="myLiabilitiesTabContent">
                            @*    All Liabilities *@

                            <div aria-labelledby="allliabilities-tab" role="tabpanel" id="allliabilities" class="tab-pane insvesment fade fade-in active show">

                                <h4 class="mb-3">
                                    <i class="bi bi-credit-card-2-front"></i> &nbsp;All liabilities including any debit balance of a business capital, current or credit card account
                                </h4>
                                <hr>

                                <input type="hidden" id="hiddenAllliabilitiesId" name="hiddenAllliabilitiesId" value="" />
                                <div class="row mb-2">
                                    <div class="col-3"><span style="color: red">*</span>Type</div>
                                    <div class="col-5">
                                        <select class="form-select" id="ddlAllliabilitiesType" name="ddlAllliabilitiesType">
                                            <option value="">-- Select Type --</option>
                                            <option value="Local">Local</option>
                                            <option value="Foreign">Foreign</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3"><span style="color: red">*</span>S/N</div>
                                    <div class="col-5">
                                        <input type="text" id="txtAllliabilitiesSN" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Description of liability</div>
                                    <div class="col-5">
                                        <input type="text" id="txtAllliabilitiesDes" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Security on liability</div>
                                    <div class="col-5">
                                        <input type="text" id="txtliabilitiesSecurity" class="form-control" />
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">Date of commencement of the liability</div>
                                    <div class="col-5">
                                        <input type="date" id="txtliabilityDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Original amount of liability (Rs.)</div>
                                    <div class="col-5">
                                        <input type="text" id="txtLiabilityOriginalAmount" class="form-control numeric-input" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Amount of liability, as at 31.03.2025</div>
                                    <div class="col-5">
                                        <input type="text" id="txtLiabilityAmount" class="form-control numeric-input" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Amount repaid during the Y/A (Rs.)</div>
                                    <div class="col-5">
                                        <input type="text" id="txtLiabilityAmountRepaid" class="form-control numeric-input" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                        <div class=" align-items-right" style="text-align: right;">
                                            <button type="button" class="btn btn-primary mt-3" id="btnLiabilityClear">Clear</button>
                                            <button type="button" class="btn btn-primary mt-3" id="btnLiabilitySubmit">Submit</button>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4">
                                <div class="table-responsive" id="LiabilityGrid">
                                    <table class="table table-bordered table-striped mt-2">
                                        <thead class="table-light">
                                            <tr>
                                                <th>No</th>
                                                <th>Type</th>
                                                <th>S/N</th>
                                                <th>Security Liability</th>
                                                <th>Date Commencement  </th>
                                                <th>Original Amount</th>
                                                <th>Amount</th>
                                                <th>Amount Repaid Y/A</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            @if (Model.selfonlineLiabilitiesAllLiabilities != null && Model.selfonlineLiabilitiesAllLiabilities.Any())
                                            {
                                                var index = 0;
                                                foreach (var liabilities in Model.selfonlineLiabilitiesAllLiabilities)
                                                {
                                                    <tr>
                                                        <td>@(++index)</td>
                                                        <td>@liabilities.Type</td>
                                                        <td>@liabilities.SerialNumber</td>
                                                        <td>@liabilities.SecurityOnLiability</td>   <!-- fixed -->
                                                        <td>@liabilities.DateOfCommencement?.ToString("yyyy-MM-dd")</td>
                                                        <td>@liabilities.OriginalAmount?.ToString("N2")</td>
                                                        <td>@liabilities.AmountAsAt?.ToString("N2")</td>
                                                        <td>@liabilities.AmountRepaid?.ToString("N2")</td>
                                                        <td>
                                                            <button class="btn btn-primary btn-sm allliabilities-editbtn" type="button"
                                                                    data-id="@liabilities.SelfonlineLiabilityID"
                                                                    data-type="@liabilities.Type"
                                                                    data-serialno="@liabilities.SerialNumber"
                                                                    data-description="@liabilities.Description"
                                                                    data-security="@liabilities.SecurityOnLiability"
                                                                    data-date="@liabilities.DateOfCommencement?.ToString("yyyy-MM-dd")"
                                                                    data-oamount="@liabilities.OriginalAmount"
                                                                    data-amount="@liabilities.AmountAsAt"
                                                                    data-repamount="@liabilities.AmountRepaid">
                                                                Edit
                                                            </button>
                                                            <button class="btn btn-danger btn-sm allliabilities-deletebtn" type="button"
                                                                    data-id="@liabilities.SelfonlineLiabilityID"
                                                                    data-name="AllLiabilities">
                                                                Delete
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="9" class="text-center">No Liabilities found.</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            @*    Other Assets *@

                            <div aria-labelledby="otherassets-tab" role="tabpanel" id="otherassets" class="tab-pane insvesment fade">

                                <h4 class="mb-3">
                                    <i class="bi bi-box-seam"></i> &nbsp;Any other assets acquired or gifts received during the year
                                </h4>
                                <hr>
                                <input type="hidden" id="hiddenOtherAssetsId" name="hiddenOtherAssetsId" value="" />
                                <div class="row mb-2">
                                    <div class="col-3"><span style="color: red">*</span>Type</div>
                                    <div class="col-5">
                                        <select class="form-select" id="ddlASType" name="ddlASType">
                                            <option value="">-- Select Type --</option>
                                            <option value="Local">Local</option>
                                            <option value="Foreign">Foreign</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3"><span style="color: red">*</span>S/N</div>
                                    <div class="col-5">
                                        <input type="text" id="txtASSN" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Description of Asset</div>
                                    <div class="col-5">
                                        <input type="text" id="txtASDes" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Gift/Exchange/Purchase</div>
                                    <div class="col-5">
                                        <input type="text" id="txtASPurchase" class="form-control" />
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">Date of acquisition/receipt</div>
                                    <div class="col-5">
                                        <input type="date" id="txtASDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Cost of acquisition/market value if not purchase (Rs.)</div>
                                    <div class="col-5">
                                        <input type="text" id="txtASCost" class="form-control numeric-input" />
                                    </div>
                                </div>
                                

                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                        <div class=" align-items-right" style="text-align: right;">
                                            <button type="button" class="btn btn-primary mt-3" id="btnOtherAssetsClear">Clear</button>
                                            <button type="button" class="btn btn-primary mt-3" id="btnOtherAssetsSubmit">Submit</button>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4">
                                <div class="table-responsive" id="OtherAssetsGrid">
                                    <table class="table table-bordered table-striped mt-2">
                                        <thead class="table-light">
                                            <tr>
                                                <th>No</th>
                                                <th>Type</th>
                                                <th>S/N</th>
                                                <th>Gift/Exchange/Purchase</th>
                                                <th>Date Acquisition  </th>
                                                <th>Cost</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                       
                                        <tbody>
                                            @if (Model.selfonlineLiabilitiesOtherAssetsGifts != null && Model.selfonlineLiabilitiesOtherAssetsGifts.Any())
                                            {
                                                var index = 0;
                                                foreach (var otherAssets in Model.selfonlineLiabilitiesOtherAssetsGifts)
                                                {
                                                    <tr>
                                                        <td>@(++index)</td>
                                                        <td>@otherAssets.Type</td>
                                                        <td>@otherAssets.SerialNumber</td>
                                                        <td>@otherAssets.AcquisitionMode</td>   <!-- fixed -->
                                                        <td>@otherAssets.DateOfAcquisition?.ToString("yyyy-MM-dd")</td>
                                                        <td>@otherAssets.CostMarketValue?.ToString("N2")</td>
                                                        <td>
                                                            <button class="btn btn-primary btn-sm otherAsset-editbtn" type="button"
                                                                    data-id="@otherAssets.SelfonlineAssetsGiftsID"
                                                                    data-type="@otherAssets.Type"
                                                                    data-serialno="@otherAssets.SerialNumber"
                                                                    data-description="@otherAssets.Description"
                                                                    data-security="@otherAssets.AcquisitionMode"
                                                                    data-date="@otherAssets.DateOfAcquisition?.ToString("yyyy-MM-dd")"
                                                                    data-oamount="@otherAssets.CostMarketValue">
                                                                Edit
                                                            </button>
                                                            <button class="btn btn-danger btn-sm otherAsset-deletebtn" type="button"
                                                                    data-id="@otherAssets.SelfonlineAssetsGiftsID"
                                                                    data-name="OtherAssets">
                                                                Delete
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="9" class="text-center">No Other Assets found.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @*    Disposal Asets *@

                            <div aria-labelledby="disposalasets-tab" role="tabpanel" id="disposalasets" class="tab-pane insvesment fade">

                                <h4 class="mb-3">
                                    <i class="bi bi-arrow-left-right"></i> &nbsp;Disposal of assets including shares (sale/transfer/gift) during the year
                                </h4>
                                <hr>

                                <input type="hidden" id="hiddenDisposalAsetsId" name="hiddenDisposalAsetsId" value="" />
                                <div class="row mb-2">
                                    <div class="col-3"><span style="color: red">*</span>Type</div>
                                    <div class="col-5">
                                        <select class="form-select" id="ddlDAType" name="ddlDAType">
                                            <option value="">-- Select Type --</option>
                                            <option value="Local">Local</option>
                                            <option value="Foreign">Foreign</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3"><span style="color: red">*</span>S/N</div>
                                    <div class="col-5">
                                        <input type="text" id="txtDASN" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Description</div>
                                    <div class="col-5">
                                        <input type="text" id="txtDADes" class="form-control" />
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">Date of Disposal</div>
                                    <div class="col-5">
                                        <input type="date" id="txtDADate" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Sales Proceed(Rs.)</div>
                                    <div class="col-5">
                                        <input type="text" id="txtDASales" class="form-control numeric-input" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Date Acquired</div>
                                    <div class="col-5">
                                        <input type="date" id="txtDADateAcquired" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">Cost (Rs.)</div>
                                    <div class="col-5">
                                        <input type="text" id="txtDACost" class="form-control numeric-input" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                        <div class=" align-items-right" style="text-align: right;">
                                            <button type="button" class="btn btn-primary mt-3" id="btnDisposalAsetsClear">Clear</button>
                                            <button type="button" class="btn btn-primary mt-3" id="btnDisposalAsetsSubmit">Submit</button>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4">
                                <div class="table-responsive" id="DisposalAsetsGrid">
                                    <table class="table table-bordered table-striped mt-2">
                                        <thead class="table-light">
                                            <tr>
                                                <th>No</th>
                                                <th>Type</th>
                                                <th>S/N</th>
                                                <th>Date Disposal</th>
                                                <th>Sales Proceed</th>
                                                <th>Date Acquired</th>
                                                <th>Cost</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.selfonlineLiabilitiesDisposalAssets != null && Model.selfonlineLiabilitiesDisposalAssets.Any())
                                            {
                                                var index = 0;
                                                foreach (var disposalAsets in Model.selfonlineLiabilitiesDisposalAssets)
                                                {
                                                    <tr>
                                                        <td>@(++index)</td>
                                                        <td>@disposalAsets.Type</td>
                                                        <td>@disposalAsets.SerialNumber</td>
                                                        <td>@disposalAsets.DateOfDisposal?.ToString("yyyy-MM-dd")</td>
                                                        <td>@disposalAsets.SalesProceed</td>
                                                        <td>@disposalAsets.DateAcquired?.ToString("yyyy-MM-dd")</td>
                                                        <td>@disposalAsets.Cost</td>
                                                        <td>
                                                            <button class="btn btn-primary btn-sm disposalAsets-editbtn" type="button"
                                                                    data-id="@disposalAsets.SelfonlineDisposalAssetsID"
                                                                    data-type="@disposalAsets.Type"
                                                                    data-serialno="@disposalAsets.SerialNumber"
                                                                    data-description="@disposalAsets.Description"
                                                                    data-ddate="@disposalAsets.DateOfDisposal?.ToString("yyyy-MM-dd")"
                                                                    data-salesproceed="@disposalAsets.SalesProceed"
                                                                    data-adate="@disposalAsets.DateAcquired?.ToString("yyyy-MM-dd")"
                                                                    data-cost="@disposalAsets.Cost">
                                                                Edit
                                                            </button>
                                                            <button class="btn btn-danger btn-sm disposalAsets-deletebtn" type="button"
                                                                    data-id="@disposalAsets.SelfonlineDisposalAssetsID"
                                                                    data-name="DisposalAsets">
                                                                Delete
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="9" class="text-center">No Disposal Assets found.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </form>
            <br><br>
            <div class="d-lg-flex justify-content-between">
                <div class="col-lg-6 col-md-6 btn-prv" id="linkDeductionsContinue">
                    <button class="btn btn-primary btn-lg">
                        Back
                    </button>
                </div>
                <div class="col-lg-6 col-md-6 right next-btn" id="linkLiabilitiesContinue">
                    <button class="btn btn-primary btn-lg">
                        Continue
                    </button>
                </div>
            </div>
        </div>

    </div>

</main>

<script src="~/scripts/selfOnline.liabilities.js" asp-append-version="true"></script>

