@model List<TaxFiling.Web.Models.SelfOnlineEmploymentIncomeDetails>

<main class="main-content">

    <div class=" mt-4">
        <div class="card card-body">

            <form method="post">

                <div class=" mt-4 ">
                    <input type="hidden" id="hiddenEmploymentDetailsId" name="hiddenEmploymentDetailsId" />
                    @{
                        var fristrecord = Model.FirstOrDefault();
                    }
                    <input type="hidden" id="hiddentotal" name="hiddentotal" value="@fristrecord?.Total" />
                    <div class="p-4 border rounded bg-light shadow-sm mb-4">
                        <h6 class="mb-4 text-primary"><i class="fas fa-wallet me-2"></i> Employment Details</h6>
                        <hr>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="col-sm-3 col-form-label font-weight-bold">Residency</label>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input rdbresidency" id="resident" name="Residency" value="1" />
                                    <label class="form-check-label" for="resident">Resident</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input rdbresidency" id="nonresident" name="Residency" value="0" />
                                    <label class="form-check-label" for="nonresident">Non-resident</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-sm-3 col-form-label font-weight-bold">Senior Citizen</label>
                                <input type="radio" name="rdbSeniorCitizen" id="rdbSeniorCitizen" />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Type of Employment</label>
                                <select class="form-select" id="drpTypeEmployment" name="drpTypeEmployment">
                                    <option value="Primary">Primary</option>
                                    <option value="Secondary">Secondary</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Remuneration (Rs.)</label>
                                <input type="text" class="form-control numeric-input" maxlength="9" id="txtRemuneration" name="txtRemuneration">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Employer/Company Name</label>
                                <input type="text" class="form-control" id="txtEmpDetailsECName" name="txtEmpDetailsECName">
                            </div>
                            <div class="col-md-6" id="divAPITPrimaryEmployment">
                                <label class="form-label"> APIT Paid on Primary Employment</label>
                                <input type="text" class="form-control numeric-input" maxlength="9" id="txtAPITPrimaryEmployment" name="txtAPITPrimaryEmployment">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label"> TIN of Employer</label>
                                <input type="text" class="form-control" maxlength="9" id="txtTINEmployer" name="txtTINEmployer">
                            </div>
                            <div class="col-md-6" id="divAPITSecondaryEmployment">
                                <label class="form-label"> APIT Paid on Secondary Employment</label>
                                <input type="text" class="form-control numeric-input" maxlength="9" id="txtAPITSecondaryEmployment" name="txtAPITSecondaryEmployment">
                            </div>

                        </div>
                        <br />
                        <div class="row">

                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class=" align-items-right" style="text-align: right;">
                                    <button type="button" class="btn btn-primary mt-3" id="btnEmploymentDetailsClear">Clear</button>
                                    <button type="button" class="btn btn-primary mt-3" id="btnEmploymentDetails">Submit</button>
                                   
                                </div>
                            </div>

                        </div>
                        <hr class="my-4">
                        <div class="table-responsive" id="employmentDetails1Grid">
                            <table class="table table-bordered table-striped mt-2">
                                <thead class="table-light">
                                    <tr>
                                        <th>No</th>
                                        <th>Residency</th>
                                        <th>Senior Citizen</th>
                                        <th>Type Employment</th>
                                        <th>Name</th>
                                        <th>TIN Employer</th>
                                        <th>Remuneration</th>
                                        <th>APIT Primary</th>
                                        <th>APIT Secondary</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null &&
                                    Model.Any(d => d.CategoryName == "EmploymentDetails"))
                                    {
                                        var index = 0;
                                        foreach (var eploymentIncome in Model
                                        .Where(d => d.CategoryName == "EmploymentDetails"))
                                        {
                                            var Residency = "";
                                            if (@eploymentIncome.Residency == 1 ){
                                                Residency = "Resident";
                                            }
                                            if (@eploymentIncome.Residency ==0)
                                            {
                                                Residency = "Non-resident";
                                            }
                                            <tr>
                                                <td>@(++index)</td>
                                                <td>@Residency</td>
                                                <td>@eploymentIncome.SeniorCitizen</td>
                                                <td>@eploymentIncome.TypeOfName</td>
                                                <td>@eploymentIncome.EmployerORCompanyName</td>
                                                <td>@eploymentIncome.TINOfEmployer</td>
                                                <td>@eploymentIncome.Remuneration</td>
                                                <td>@eploymentIncome.APITPrimaryEmployment</td>
                                                <td>@eploymentIncome.APITSecondaryEmployment</td>
                                                <td>
                                                    <button class="btn btn-primary btn-sm employmentDetails-editbtn" type="button" 
                                                            data-id="@eploymentIncome.SelfOnlineEmploymentDetailsId"
                                                            data-residency="@eploymentIncome.Residency"
                                                            data-seniorcitizen="@eploymentIncome.SeniorCitizen"
                                                            data-type="@eploymentIncome.TypeOfName"
                                                            data-name="@eploymentIncome.EmployerORCompanyName"
                                                            data-tin="@eploymentIncome.TINOfEmployer"
                                                            data-remuneration="@eploymentIncome.Remuneration"
                                                            data-primary="@eploymentIncome.APITPrimaryEmployment"
                                                            data-secondary="@eploymentIncome.APITSecondaryEmployment">
                                                        Edit
                                                    </button>
                                                    <button class="btn btn-danger btn-sm employmentdetails-deletebtn" type="button" data-id="@eploymentIncome.SelfOnlineEmploymentDetailsId" data-name="EmploymentDetails">Delete</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8" class="text-center">No Employment Details found.</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </form>
            <br>
         @*    <div class="d-lg-flex justify-content-between">
                <div class="col-lg-6 col-md-6 btn-prv">
                </div>
                <div class="col-lg-6 col-md-6 right next-btn" id="linkTerminalBenefitsContinue">
                    <button class="btn btn-primary btn-lg">
                        Continue
                    </button>
                </div>
            </div> *@
        </div>

    </div>

</main>

<script src="~/scripts/selfonline.employmentincome.js" asp-append-version="true"></script>