@model List<TaxFiling.Web.Models.SelfOnlineInvestmentPartnerBeneficiaryExemptViewModel>

<main class="main-content">

    <div class=" mt-4">
        <div class="card card-body">


            <form method="post">

                <div class=" mt-4 ">
                    <input type="hidden" id="hiddenInvestmentPartnerIncomeId" name="hiddenInvestmentPartnerIncomeId" />
                    <div class="p-4 border rounded bg-light shadow-sm mb-4">
                        <h6 class="mb-4 text-primary"> <i class="bi bi-cash-stack me-2"></i>  Partner's investment income from partnership (Both local & foreign)</h6>
                        <hr>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label"><span style="color: red">*</span>Total Investment Income (Individual)</label>
                                <input type="text" class="form-control numeric-input" id="txtTotalInvestment" name="txtTotalInvestment">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label"></label>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Activity Code (Partnership)</label>
                                <input type="text" class="form-control" id="txtActivityCodePartnership" name="txtActivityCodePartnership">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label"><span style="color: red">*</span>Partnership Name</label>
                                <input type="text" class="form-control" id="txtPartnershipName" name="txtPartnershipName">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">TIN of Partnership</label>
                                <input type="text" class="form-control" id="txtPartnershipTin" name="txtPartnershipTin">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Gains and Profits (Rs.) – Partnership</label>
                                <input type="text" class="form-control numeric-input" id="txtGainsProfits" name="txtGainsProfits">
                            </div>
                           
                            <div class="col-md-6">
                                <label class="form-label">Total Investment Income from Partnership</label>
                                <input type="text" class="form-control numeric-input" id="txtTotalInvestmentPartnership" name="txtTotalInvestmentPartnership">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class=" align-items-right" style="text-align: right;">
                                    <button type="button" class="btn btn-primary mt-3" id="btnPartnerInvestmentClear">Clear</button>
                                    <button type="button" class="btn btn-primary mt-3" id="btnPartnerInvestmentSubmit">Submit</button>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">
                        <div class="table-responsive" id="partnerInvestmentsGrid">
                            <table class="table table-bordered table-striped mt-2">
                                <thead class="table-light">
                                    <tr>
                                        <th>No</th>
                                        <th>Total Investment Individual</th>
                                        <th>Partnership Name</th>
                                        <th>Gains and Profits</th>
                                        <th>Total Investment Partnership</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                      <tbody>
                                            @if (Model != null && Model.Any(d => d.Category == "Partner"))
                                            {
                                                var index = 0;
                                                foreach (var fdIncome in Model.Where(d => d.Category == "Partner"))
                                                {
                                                    <tr>
                                                        <td>@(++index)</td>
                                                        <td>@fdIncome.TotalInvestmentIncome</td>
                                                        <td>@fdIncome.PartnershipName</td>
                                                        <td>@fdIncome.GainsProfits</td>
                                                        <td>@fdIncome.TotalInvestmentIncomePartnership</td>
                                                        <td>
                                                            <button class="btn btn-primary btn-sm partnerDetails-editbtn" type="button"
                                                                    data-id="@fdIncome.InvestmentIncomePBEId"
                                                            data-category="Partner" 
                                                            data-total="@fdIncome.TotalInvestmentIncome"
                                                            data-code="@fdIncome.ActivityCode"
                                                            data-partnership="@fdIncome.PartnershipName"
                                                            data-ptin="@fdIncome.TINNO"
                                                            data-gains="@fdIncome.GainsProfits"
                                                            data-totalpartnership="@fdIncome.TotalInvestmentIncomePartnership">
                                                                    
                                                                Edit
                                                            </button>
                                                    <button class="btn btn-danger btn-sm PartnerBeneficiaryExemptDetails-deletebtn" type="button"
                                                                    data-id="@fdIncome.InvestmentIncomePBEId"
                                                            data-name="Partner">
                                                                Delete
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                            <td colspan="6" class="text-center">No Partner's investment Income found.</td>
                                                </tr>
                                            }
                                        </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </form>
            <br><br>
            <div class="d-lg-flex justify-content-between">
                <div class="col-lg-6 col-md-6 btn-prv">
                    <button class="btn btn-primary btn-lg" id="linkDetailsContinue">
                        Back
                    </button>
                </div>
                <div class="col-lg-6 col-md-6 right next-btn" id="linkBeneficiaryContinue">
                    <button class="btn btn-primary btn-lg">
                        Continue
                    </button>
                </div>
            </div>
        </div>

    </div>

</main>

<script src="~/scripts/selfOnline.investmentpartnerbeneficiaryexempt.js" asp-append-version="true"></script>
<script>
    $(function () {

         $('#linkBeneficiaryContinue').on('click', function () {
                $.ajax({
                url: '/SelfOnlineFlow/LoadInvestment_BeneficiaryInvestment',
                type: 'GET',
                    success: function (data) {
                        $('#in-this-section-container').html(data);
                          $("html, body").animate({ scrollTop: 0 }, "smooth");
                    },
                error: function () {
                    alert("Error loading section content.");
                }
            });
        });

         $('#linkDetailsContinue').on('click', function () {
                 $.ajax({
                    url: '/SelfOnlineFlow/LoadInvestment_PartnerInvestment',
                    type: 'GET',
                    success: function (data) {
                        $('#in-this-section-container').html(data);
                         $("html, body").animate({ scrollTop: 0 }, "smooth");
                    },
                    error: function () {
                        alert("Error loading section content.");
                    }
                });

        });
    });
</script>