@model List<TaxFiling.Web.Models.SelfOnlineEmploymentIncomeDetails>


<main class="main-content">

    <div class=" mt-4">
        <div class="card card-body">


            <form method="post">

                <div class=" mt-4 ">

                    <div class="p-4 border rounded bg-light shadow-sm mb-4">
                        <h6 class="mb-4 text-primary"><i class="fas fa-wallet me-2"></i> Terminal Benefits (Gratuity, ETF, EPF, Compensation)</h6>
                        <hr>
                        <input type="hidden" id="hiddenTerminalId" name="hiddenTerminalId" />
                        @{
                            var fristrecord = Model.FirstOrDefault();
                        }
                        <input type="hidden" id="hiddenBtotal" name="hiddenBtotal" value="@fristrecord?.Total" />
                        <div class="row g-3">

                            <div class="col-md-6">
                                <label class="form-label">Type of Terminal Benefit</label>
                                <select class="form-select" id="dpdTypeTerminal" name="dpdTypeTerminal">
                                    <option value="Primary">Primary</option>
                                    <option value="Secondary">Secondary</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Employer/Company Name</label>
                                <input type="text" class="form-control" id="txtTerminalECName" name="txtTerminalECName">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">TIN of Employer</label>
                                <input type="text" class="form-control" maxlength="9" id="txtTerminalTINNo" name="txtTerminalTINNo">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Terminal Benefits (Rs.)</label>
                                <input type="text" class="form-control numeric-input" id="txtTerminalBenefits" name="txtTerminalBenefits">
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class=" align-items-right" style="text-align: right;">
                                    <button type="button" class="btn btn-primary mt-3" id="btnTerminalClear">Clear</button>
                                    <button type="button" class="btn btn-primary mt-3" id="btnTerminalSubmit">Submit</button>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="table-responsive" id="terminalDetailsGrid">
                            <table class="table table-bordered table-striped mt-2">
                                <thead class="table-light">
                                    <tr>
                                        <th>No</th>
                                        <th>Type Employment</th>
                                        <th>Name</th>
                                        <th>TIN Employer</th>
                                        <th>Terminal Benefits</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null &&
                                    Model.Any(d => d.CategoryName == "TerminalBenefits"))
                                    {
                                        var indexT = 0;
                                        foreach (var eploymentIncome in Model
                                        .Where(d => d.CategoryName == "TerminalBenefits"))
                                        {
                                            <tr>
                                                <td>@(++indexT)</td>
                                                <td>@eploymentIncome.TypeOfName</td>
                                                <td>@eploymentIncome.EmployerORCompanyName</td>
                                                <td>@eploymentIncome.TINOfEmployer</td>
                                                <td>@eploymentIncome.TerminalBenefits</td>
                                                <td>

                                                    <button class="btn btn-primary btn-sm terminalbenefits-editbtn" type="button"
                                                            data-id="@eploymentIncome.SelfOnlineEmploymentDetailsId"
                                                            data-type="@eploymentIncome.TypeOfName"
                                                            data-name="@eploymentIncome.EmployerORCompanyName"
                                                            data-tin="@eploymentIncome.TINOfEmployer"
                                                            data-benefit="@eploymentIncome.TerminalBenefits">
                                                        Edit
                                                    </button>
                                                    <button class="btn btn-danger btn-sm employmentdetails-deletebtn" type="button" data-id="@eploymentIncome.SelfOnlineEmploymentDetailsId" data-name="TerminalBenefits">Delete</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8" class="text-center">No Terminal Benefits found.</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <br>
       @*  <br>
        <div class="d-lg-flex justify-content-between">
            <div class="col-lg-6 col-md-6 btn-prv">
                <button class="btn btn-primary btn-lg" id="linkEmploymentDetailsContinue">
                    Back
                </button>
            </div>
            <div class="col-lg-6 col-md-6 right next-btn" id="linkExemptAmountsContinue">
                <button class="btn btn-primary btn-lg">
                    Continue
                </button>
            </div>
        </div> *@
    </div>

</main>

<script src="~/scripts/selfonline.employmentincome.js" asp-append-version="true"></script>