@using System.Security.Claims
@using Microsoft.AspNetCore.Html
@using System.Globalization
@{
    var userName = User.FindFirst(ClaimTypes.Name)?.Value;
    var userId = User.Claims.FirstOrDefault(mbox => mbox.Type == "UserID")?.Value;
    bool isAuthenticated = !string.IsNullOrEmpty(userId);
    var packageId = User.FindFirst("PackageId")?.Value;    
    var formattedName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(userName.ToLower());

}

@* @if (isAuthenticated)
{
    <script>
        alert("Hi @userName @packageId, your payment is already active ✅");
    </script>
} *@

<main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background" >
        <div class="container @(packageId == "4" || packageId == "5" || packageId == "6"  ? "justify-content-between align-items-center" : "d-lg-flex justify-content-between align-items-center")">
        
            <!--<div class="col-lg-4 col-md-6">-->
                   @if(packageId == "4" || packageId == "5" || packageId == "6")
    {
            <div>
             
                    <h2 class="mb-2 mb-lg-0 font-weight-bold">Assisted Filing</h2>
                    <div class="">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <h5 class="mb-0">
                                    Manage your tax filing with ease, assisted by our experts
                                </h5>
                                <h5 class="mb-0 text-end" style="padding-left:100px">
                                    Welcome <span>@formattedName</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
    }
      @*           @if (packageId != "4" && packageId != "5" && packageId != "6" )
    {
                    <h2 class="mb-2 mb-lg-0 font-weight-bold">Self Filing</h2>
                    
    } *@
       
            @if (packageId != "4" && packageId != "5" && packageId != "6")
    {
               
                   
                        <div class="col-lg-4 col-md-6">
                            <h2 class="mb-2 mb-lg-0 font-weight-bold">Self Online Flow</h2><br>
                    <h1 class="mb-2 mb-lg-0">Welcome <span>@formattedName</span></h1>
                        </div>
                        
                   
                
    }
           
            <!--</br> <h1 class="mb-2 mb-lg-0">Welcome <span></span></h1>-->
                <!--</div>-->
            <div class="col-lg-2 col-md-4">
                <nav class="breadcrumbs">
                    <ol>
    @* <li><a href="index.html">Home</a></li>
                        <li class="current">Assisted Filing</li> *@
                    </ol>
                </nav>
            </div>
        </div>
    </div><!-- End Page Title -->
    <!-- File my taxes Section -->
    <section id="File-my-taxes" class="blog-posts section selfOnline-dashboard">

        <div class="container">
            <div class="row gy-4">
                <input type="hidden" name="UserId" id="UserId" value=@userId />
                <div class="text-center mb-4">
                    <h2 class="mb-2 mb-lg-0 font-weight-bold body-header">
                        Tax Filing Dashboard
                    </h2>
                    <p class="mb-1">
                        Manage your submissions, track status, and view summaries
                    </p>
                </div>
                    <h4 class="post-title" style="display:none">
                        Your Package is  <span>@ViewBag.packageName</span> </h4>
                        <br>
                        <br>
                @if (packageId == "4" || packageId == "5" || packageId == "6")
    {
                            <div class="col-lg-3 aos-init aos-animates" data-aos="fade-up" data-aos-delay="100">
                        <article class="position-relative h-100 rounded-md text-center">
                                <a asp-controller="UserUploadTaxAssistedDoc" asp-action="Index">
                                    <div class="post-img position-relative overflow-hidden rounded-md-image">
                                        <img src="/assets/img/SelfOnlineDashboard/submit-documents-upload-update.png" class="img-fluid rounded-md-image" alt="">

                                    </div>

                                <div class="post-content d-flex flex-column align-items-center">
                                         <h3 class="post-title">Upload Now</h3>
                                        <p class="mt-2 text-muted">
                                            Upload and manage your required tax documents.
                                        </p>
                                    </div>
                                </a>
                                </article>
                            </div>
                            <div class="col-lg-3 aos-init aos-animates" data-aos="fade-up" data-aos-delay="100">
                                <article class="position-relative h-100 rounded-md text-center">

                                    <div class="post-img position-relative overflow-hidden rounded-md-image">
                                        <img src="/assets/img/SelfOnlineDashboard/Return_Filling_Status.png" class="img-fluid rounded-md-image" alt="">
                                    </div>

                            <div class="post-content d-flex flex-column align-items-center">

                                        <h3 class="post-title">
                                            Check Status
                                        </h3>
                                        <p class="mt-2 text-muted">
                                            Track the progress of your tax return submissions.
                                        </p>


                                    </div>

                                </article>
                            </div>
                            <div class="col-lg-3 aos-init aos-animates" data-aos="fade-up" data-aos-delay="100">
                                <article class="position-relative h-100 rounded-md text-center">

                                    <div class="post-img position-relative overflow-hidden rounded-md-image">
                                        <img src="/assets/img/SelfOnlineDashboard/Account_Summary.png" class="img-fluid rounded-md-image" alt="">

                                    </div>

                            <div class="post-content d-flex flex-column align-items-center">

                                        <h3 class="post-title">My Package</h3>

                                        <p class="mt-2 text-muted">
                                            View details of your current filing package and upgrade if needed.
                                        </p>
                                    </div>
                                </article>
                            </div>

        <!-- File my taxes item -->

        <!-- End File my taxes item -->

                            <!-- File my taxes item -->
    }

                @if (packageId != "4" && packageId != "5" && packageId != "6")
    {
                            <div class="col-lg-3 aos-init aos-animates" data-aos="fade-up" data-aos-delay="100">
                                <article class="position-relative h-100 rounded-md text-center">
                                <a href="@Url.Action("SelfOnlineFlow", "SelfOnlineFlow")">
                                    <div class="post-img position-relative overflow-hidden rounded-md-image">
                                        <img src="/assets/img/SelfOnlineDashboard/Submit_return.png" class="img-fluid rounded-md-image" alt="">

                                    </div>

                                <div class="post-content d-flex flex-column align-items-center" asp-controller="Home" asp-action="SelfOnlineFlow">
                                         <h3 class="post-title">Submit Return</h3>


                                        <p class="mt-2 text-muted">
                                            The Income Tax Self Online.
                                        </p>
                                    </div>
                                </a>
                                </article>
                            </div>
                            <div class="col-lg-3 aos-init aos-animates" data-aos="fade-up" data-aos-delay="100">
                                <article class="position-relative h-100 rounded-md text-center">

                                    <div class="post-img position-relative overflow-hidden rounded-md-image">
                                        <img src="/assets/img/SelfOnlineDashboard/Return_Filling_Status.png" class="img-fluid rounded-md-image" alt="">
                                    </div>

                            <div class="post-content d-flex flex-column align-items-center">

                                        <h3 class="post-title">
                                            Return Filling Status
                                        </h3>
                                        <p class="mt-2 text-muted">
                                            The Return Filing Status dashboard for self-online submissions.
                                        </p>


                                    </div>

                                </article>
                            </div>
                            <div class="col-lg-3 aos-init aos-animates" data-aos="fade-up" data-aos-delay="100">
                                <article class="position-relative h-100 rounded-md text-center">

                                    <div class="post-img position-relative overflow-hidden rounded-md-image">
                                        <img src="/assets/img/SelfOnlineDashboard/Account_Summary.png" class="img-fluid rounded-md-image" alt="">

                                    </div>

                            <div class="post-content d-flex flex-column align-items-center">

                                        <h3 class="post-title">Account Summary</h3>

                                        <p class="mt-2 text-muted">
                                            The Account Summary provides an overview of your financial data.
                                        </p>
                                    </div>
                                </article>
                            </div>

        <!-- File my taxes item -->

        <!-- End File my taxes item -->

                            <!-- File my taxes item -->
    }

                       

                       

                        <div class="col-lg-3 aos-init aos-animates" data-aos="fade-up" data-aos-delay="100">
                            <article class="position-relative h-100 rounded-md text-center">
                            <a asp-controller="User" asp-action="UserProfile" asp-route-userId=@userId>
                                <div class="post-img position-relative overflow-hidden rounded-md-image">
                                    <img src="/assets/img/SelfOnlineDashboard/myProfile.png" class="img-fluid rounded-md-image" alt="">

                                </div>

                            <div class="post-content d-flex flex-column align-items-center">
                                    
                                        <h3 class="post-title">
                                            Edit Profile
                                        </h3>
                                    

                                    <p class="mt-2 text-muted">
                                        Manage your personal and account information.
                                    </p>
                                </div>
                            </a>
                            </article>
                        </div><!-- End File my taxes item -->





            </div>
        </div>

    </section>
    <!-- /File my taxes -->

</main>

<script src="~/scripts/taxassisted.js" asp-append-version="true"></script>
