@model List<TaxFiling.Web.Models.MaritalStatusViewModel>

<main class="main-content">
    <div class="container-fluid">


        <h2 class="center">Marital Status on March 31,2025 </h2><br><br>

        <div class="image-box  justify-content-between  parent">
            <div class="row">
            @if (Model != null && Model.Any())
                {
                    foreach (var maritalStatus in Model)
                    {
                        var isChecked = (ViewBag.maritalStatusId == maritalStatus.Id);
                        <div class='col col-lg-3 col-md-3 p-3  text-center Tax-pesonaldetail-icon'>
                            <input type="radio" name="imgbackground" id="@maritalStatus.Id" class="d-none imgbgchk" value="@maritalStatus.Id" data-name="@maritalStatus.Name" @(isChecked ? "checked" : "")>
                            <label for="@maritalStatus.Id">
                                <img src="@maritalStatus.ImageUrl" alt="Image @maritalStatus.Id">
                                <div class="nametag">
                                    @maritalStatus.Name
                                </div>
                                
                                <div class="tick_container">
                                    <div class="tick"><i class="fa fa-check"></i></div>
                                </div>
                            </label>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12">
                        <p>No taxpayers found.</p>
                    </div>
                }

            </div>
        </div>
        <!-- Number of Dependents -->
        <br />
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="EmailPrimary">Number of Dependents</label>
                <input type="number" class="form-control" name="NumberOfDependents" id="NumberOfDependents" min="0" value="" />
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
        <br />
        @{
            var selectedMarital = Model.FirstOrDefault(t => t.Id == (int?)ViewBag.maritalStatusId);
        }
        <!-- Spouse Details -->
        <div id="spouseDetails" class="mt-4" style="display:none;">
            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h5>Spouse Details</h5>
                <div class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Spouse Full Name</label>
                        <input type="text" class="form-control" name="SpouseFullName" id="SpouseFullName" value="@selectedMarital?.SpouseFullName" />

                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Spouse TIN Number</label>
                        <input type="text" class="form-control" name="SpouseTINNo" id="SpouseTINNo" value="@selectedMarital?.SpouseTINNo" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">NIC</label>
                        <input type="text" class="form-control" name="SpouseNIC" id="SpouseNIC" value="@selectedMarital?.SpouseNIC" />
                    </div>
                   
                </div>
            </div>
        </div>

        <br><br>
        <div class="d-lg-flex justify-content-between">
            <div class="col-lg-6 col-md-6 btn-prv">
                <button class="btn btn-primary btn-lg" id="linkMaritalNext">
                    Back
                </button>
            </div>
            <div class="col-lg-6 col-md-6 right next-btn">
                <button class="btn btn-primary btn-lg" id="linkMaritalContinue">
                    Continue
                </button>
            </div>
        </div>

    </div>
</main>


<script src="~/scripts/maritastatus_section.js" asp-append-version="true"></script>