@model TaxFiling.Web.Models.SelfOnlineFlowPersonalInformation

<main class="main-content">
    <div class="container-fluid">

        <div class="text-center">
            <h2>Summary</h2><br>
        </div>

        <h4> Personal Information</h4><br>

        <div class=" mt-4">
            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h6 class="fw-semibold text-dark mb-2">TaxPayer(s)</h6>
                <p class="mb-1 small">@ViewBag.TaxPayerName</p>
               
                @if (@Model.TaxpayerId == 3)
                {
                    <br />
                    <div class="row">
                        <div class="col">
                            <h6 class="fw-semibold text-dark mb-2">Name</h6>
                            <label class="form-control">@Model.SomeoneName </label>
                        </div>
                        <div class="col">
                            <h6 class="fw-semibold text-dark mb-2">Relationship</h6>
                            <label class="form-control">@Model.Relationship </label>
                        </div>
                        <div class="col">
                            <h6 class="fw-semibold text-dark mb-2">TIN Number</h6>
                            <label class="form-control">@Model.SomeoneTINNo </label>
                        </div>
                    </div>
                }
                @if (@Model.TaxpayerId == 2)
                {
                    <br />
                    <div class="row">
                        <div class="col">
                            <h6 class="fw-semibold text-dark mb-2">Name of Spouse</h6>
                            <label class="form-control">@Model.SpouseName </label>
                        </div>
                        <div class="col">
                            <h6 class="fw-semibold text-dark mb-2">TIN Number</h6>
                            <label class="form-control">@Model.SpouseTINNo </label>
                        </div>
                        <div class="col">
                            <h6 class="fw-semibold text-dark mb-2">NIC</h6>
                            <label class="form-control">@Model.SpouseNIC </label>
                        </div>
                    </div>
                }
            </div>
            

            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h6 class="fw-semibold text-dark mb-2">Marital Status</h6>
                <p class="mb-1 small">@ViewBag.MaritalStatusName</p>
            </div>
       
            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h6 class="fw-semibold text-dark mb-2">Last Year</h6>
                <p class="mb-1 small">@ViewBag.LastyearsName</p>
            </div>
        </div>

        <div class=" mt-4">
            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h5> <i class="bi bi-person-vcard" style="font-size: 1rem;"></i> Your Identification</h5><br>
                <div class="row">
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">First name</h6>
                        <label class="form-control">@Model.FirstName </label> 
                    </div>
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">Middle Name</h6>
                        <label class="form-control">@Model.MiddleName </label>
                    </div>
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">Last Name</h6>
                        <label class="form-control">@Model.LastName </label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">Date of birth</h6>
                        <label class="form-control">@(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("MM/dd/yyyy") : "") </label>
                    </div>
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">Tax Identification Number</h6>
                        <label class="form-control">@Model.TaxNumber </label>
                    </div>
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">Tax Identification Number</h6>
                        <label class="form-control">@Model.NIC_NO </label>
                    </div>
                    
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">Date of birth</h6>
                        <label class="form-control">@Model.Gender </label>
                    </div>
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">Tax Identification Number</h6>
                        <label class="form-control">@Model.Address </label>
                    </div>
                    <div class="col">
                       
                    </div>

                </div>
            </div>

        </div>

        <div class=" mt-4">
            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h5> <i class="bi bi-mailbox" style="font-size: 1rem;"></i> Your Contact infromation</h5><br>
                <div class="row">
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">Care of </h6>
                        <label class="form-control">@Model.CareOf </label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">Apt</h6>
                        <label class="form-control">@Model.Apt </label>
                    </div>
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">Street number</h6>
                        <label class="form-control">@Model.StreetNumber </label>
                    </div>
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">Street</h6>
                        <label class="form-control">@Model.Street </label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <h6 class="fw-semibold text-dark mb-2">City </h6>
                        <label class="form-control">@Model.City </label>
                    </div>
                </div>
            </div>

        </div>
        <br><br>
        <div class="d-lg-flex justify-content-between">
            <div class="col-lg-6 col-md-6 btn-prv">
                <button class="btn btn-primary btn-lg" id="linkTaxPayerNext">
                    Back
                </button>
            </div>
            <div class="col-lg-6 col-md-6 right next-btn"  style="display:none;" id="divSummaryAssistedNext">
                <button class="btn btn-primary btn-lg" id="linkTaxPayerContinue">
                    Continue
                </button>
            </div>
        </div>

    </div>
</main>
<script src="~/scripts/summary_section.js" asp-append-version="true"></script>

